First things first: set the ROOTDIR and import the necessary packages:

In [1]:
from IPython.display import display, Markdown

import mics_library
import os

ROOTDIR = '/path/to/mics/data'

mics_library.set_rootdir(ROOTDIR)

## Screen a MICS round

The first step is to obtain an overall description of the indicators (i.e. items of the MICS identified by acronyms) available in a round of the MICS.

To do so we can use the `mics_library.preview.screen` function:

In [2]:
from mics_library.preview import screen

Then we need to set the MICS round we want to analyse and the target questionnaires.

Target questionnaires are actually the name of the files that have been downloaded (without the `.sav` extension).
There is not (always) an exact match between the name of the files and the questionnaires of the MICS... but this is to simplify things...

In [3]:
ROUND = 5
TARGET_QUESTIONNAIRES = ['hh', 'hl', 'ch']

Now we use the `screen` function to get a description of the available items for each questionnaire/file:

In [4]:
#%% test screen function
dataframes = screen(ROUND, questionnaires=TARGET_QUESTIONNAIRES, ignorecase=True)

The result is a dictionary of dataframes, where keys are the questionnaires and values are the dataframes:

In [5]:
for quest in TARGET_QUESTIONNAIRES:
    display(Markdown('---'))
    display(Markdown(f'### {quest}'))
    display(dataframes[quest])

---

### hh

                                            label  ncountries
HH1                                Cluster number           3
HH2                              Household number           3
HH3                            Interviewer number           3
HH4                             Supervisor number           3
HH5D                             Day of interview           3
...                                           ...         ...
HHWEIGHTLAGOS       Lagos Household sample weight           1
WQHWEIGHTKANO    Kano WQ sample weight: Household           1
WQHWEIGHTLAGOS  Lagos WQ sample weight: Household           1
WQSWEIGHTKANO       Kano WQ sample weight: Source           1
WQSWEIGHTLAGOS     Lagos WQ sample weight: Source           1

[306 rows x 2 columns]

---

### hl

                                                    label  ncountries
HH1                                        Cluster number           3
HH2                                      Household number           3
HL1                                           Line number           3
HL3                              Relationship to the head           3
HL4                                                   Sex           3
...                                                   ...         ...
HH8            Household selected for men's questionnaire           1
ZONE                                   Geopolitical Zones           1
ETHNICITY                     Ethnicity of household head           1
HHWEIGHTKANO                 Kano Household sample weight           1
HHWEIGHTLAGOS               Lagos Household sample weight           1

[103 rows x 2 columns]

---

### ch

                                               label  ncountries
HH1                                   Cluster number           3
HH2                                 Household number           3
LN                                       Line number           3
UF1                                   Cluster number           3
UF2                                 Household number           3
...                                              ...         ...
HL6A           Member stayed in the house last night           1
ETHNICITY                Ethnicity of household head           1
ZONE                              Geopolitical Zones           1
CHWEIGHTKANO           Kano Children's sample weight           1
CHWEIGHTLAGOS         Lagos Children's sample weight           1

[415 rows x 2 columns]

Dataframes report, for each item (on rows):
- `label`: Textual description of the meaning of the item. For more information you should refer to the forms used for the survey, available on [mics.unicef.org](mics.unicef.org). Please, note that actual description of an item for a specific country migh be different from the one reported here (this is one of the reasons we have another step: check_indicators); the reported description is most common one between the available countries;
- `ncountries`: Number of countries that include the indicator.

We suggest to save the dataframes into `.csv` files, to facilitate the inspection of the available information.
We will use the saved files to select the indicators that we will use in the analysis.

In [6]:
SCREENDIR = '/path/to/screen'

for quest in TARGET_QUESTIONNAIRES:
    dataframes[quest].to_csv(os.path.join(SCREENDIR, f'{quest}.csv'))